.creds
.ipynb_checkpoints/
*.DS_Store
.here
.Rhistory
.Rproj.user
.RData
*.Rproj
.~lock*
*_cache/
*_files/
*.csv.gz
*.feather
*.xlsx
*.log
write/output/*
!analyze/frozen/stay_headcount_fy12-24ytd.csv.gz
!analyze/input/facilities.csv.gz
!headcount/frozen/inc_headcount_fy12-24ytd.csv.gz